.productsContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.card {
    margin: 2% 2% !important;
    justify-content: center;
    align-items: center;
}

.gents {
    border-bottom: 10px solid blue;
}

.ladies{
    border-bottom: 10px solid purple;
  }

.productsLink{
    text-decoration: none;
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
}

.images{
    max-height: 250px;
}

h2{
    margin-top: 70pt;
}

.productsGridContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 100px;
    background-color: black;
}

.productsGrid {
    padding-left: 25px;
    padding-right: 25px;
    margin-top: 0pt;
}

@media(max-width: 960px){
    .productsContainer{
        margin-top: 100px;
    }
    .images{
        width: 300px;
    }
}

@media(max-width: 960px){
    .productsContainer{
        margin-top: 100px;
    }
    .images{
        width: 300px;
    }
}

@media(max-width: 750px){
    .productsGridContainer{
        padding: 0 50px;
    }
}

@media(max-width: 650px){
    .productsGridContainer{
        padding: 0 25px;
    }
}

@media(max-width: 600px){
    .productsGridContainer{
        padding: 0 100px;
    }
}

@media(max-width: 500px){
    .images{
        max-height: 200px;
        width: auto;
    }
    .productsGridContainer{
        padding: 0 50px;
    }
  }

@media(max-width: 400px){
    .productsContainer{
        margin-top: 50px;
    }
    .images{
        max-height: 150px;
    }
    .productsGridContainer{
        padding: 0 0;
    }
}

